/* .App {
  text-align: center;
} */

.mtx10{
  margin: 10px;
}

.mr5{
  margin-right: 5px;
}

.mt-5{
  margin-top: -5px;
}

.mr10{
  margin-right: 10px;
}

.mt10{
  margin-top: 10px;
}

.mt5{
  margin-top: 5px;
}


.ds-ib{
  vertical-align: middle;
  display: inline-block;
}

.ds{
  display: inline-block;
}

.img{
  min-width: 200px;
  max-width: 200px;
}

.fl-l{
  float: left;
}

.fl-r{
  float: right;

}

.position-absolute{
  position: absolute;
  right: 0;
  bottom: 0;
}
/* .input-border-color{
  border-color: #4BB5FF !important;
  background-color: blue !important;
} */
/* .input-border-color:focus{
  border-color: #4BB5FF !important;
} */

.dropdown-text-color{
  color: #000 !important;
}

.dropdown-text-color:hover{
  color: #000 !important;
}

.dropdown-text-color:active{
  color: #000 !important;
}

.caret:hover:active{
  color: #000;
}

.form-control:focus{
  border: 1px solid #4BB5FF !important;
}

textarea.form-control:focus{
  border-left: none !important;
  border-top: none !important;
  border-right: none !important; 
  border-bottom: 1px solid #4BB5FF !important;

}
